#container{
    height: 600px;
    width: 600px;
    display: flex;
    background-color: lightgray;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
#container div{
    height: 100px;
    max-height: 400px;
    width: 100px;
}
#div1{
    background-color: cyan;
   /* margin: 10px;*/
   
   
}
#div2{
    background-color: rgb(36, 77, 223);
   /* margin: 30px;*/
    
}
#div3{
    background-color: red;
   /* margin: 50px;*/
    
}/*
#div4{
    background-color: green;
}
#div5{
    background-color: yellow;
}*/
