<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>
        <%= locals.title %>
    </title>
    <link rel="stylesheet" href="/css/home.css"/>

</head>
<body>
  
    <h1 id="page-heading">
        <i class="fas fa-address-book"></i>
        My Contact List</h1>

    <div id="contact-list-container">
        <ul>
            <% for(let i of contact_List) { %>
            <li class="Contact">
                <div class="details">
                <%= i.name %>
                <%= i.phone %>
            </div>
            <div class ="delete-button">
                <a href="/delete-contact/ <% i.phone %>">
                    <i class="fas fa-window-close"></i>
                </a>
            </div>
            </li>
            <% } %>
        </ul>
    </div>
    <form id="new=contact-form" action="/create-contact" method="POST">
        <input type="text" name="name" placeholder="Name" required>
        <input type="number" name="phone" placeholder="Phone"required>
        <button type="submit">Add </button>
    </form>
<script type="text/javascript" src = "/js/home.js"></script>
<script src="https://kit.fontawesome.com/dee2ae177e.js" crossorigin="anonymous"></script>
</body>
</html>